@import url('./base.css');
.text-primary {
  color: var(--primary);
}
.text-secondary {
  color: var(--secondary);
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: var(--dark);
  background: var(--default);
  border: none;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary,
.bg-primary {
  color: var(--light);
  background: var(--primary);
}
.btn-secondary,
.bg-secondary {
  color: var(--light);
  background: var(--secondary);
}
.btn-dark,
.bg-dark {
  color: var(--light);
  background: var(--dark);
}
.btn-light,
.bg-light {
  color: var(--dark);
  background: var(--light);
}
.btn-outline {
  background: transparent;
  border: 1px solid var(--light);
}

/* flex */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-items > .flex-item {
  padding: 20px;
}

/* Flex columns */

.flex-columns .row.flex-reverse {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;

  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-columns .column .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}
.flex-columns .column .column-2 h2 {
  font-size: 40px;
  font-weight: 100;
}
.flex-columns .column .column-2 h4 {
  margin-bottom: 10px;
}
.flex-columns .column .column-2 p {
  margin: 20px 0;
}
/* Section Header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}
/* Flex Grid */

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
